packages:
  yum:
    python27-devel: []
    postgresql-devel: []

container_commands:
  01_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
  02_cc:
    command: "python manage.py collectstatic --noinput"

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: gettingstarted/wsgi.py
